body {
    box-sizing: border-box;
    background-color: #0a0606;
    color: #ffffff;
    height: 100vh;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.selection-container {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border: 2px solid coral;
}

.selection-container button {
    padding: 0;
    border: 0;
    height: 150px;
}

.selection-container img {
    height: 150px;
    width: 150px;
}

#score-container {
    height: 150px;

    border: 2px solid coral;
}

#round-container {
    height: 150px;

    border: 2px solid coral;
}
